{{ define "main" }}

  {{ partial "events/hero-single.html" . }}

  <div class="document-content">
    <div class="container">
      <div>
        <p>Authors</p>
        <ul>
          {{ range .Params.authors }} 
            <li>{{ . }}</li>
          {{ end }}
        </ul>
      </div>


      <p>Publication</p>
      {{ .Params.publication.title }}<br>
      {{ .Params.publication.issn }}<br>

      <p>Tags</p>
      <ul>
        {{ range .Params.zotero_tags }}
          <li>{{ . }}</li>
        {{ end }}
      </ul>

      {{ with .GetTerms "zotero_tags" }}
        <p>Tags (taxo)</p>
        <ul>
          {{ range . }}
            <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
          {{ end }}
        </ul>
      {{ end }}

      {{ with .Params.url }}
        <div>
          <p>URL</p> 
          <a href="{{ . }}">{{ . }}</a>
        </div>
      {{ end }}

      {{ .Content }}
    </div>

  </div>
{{ end }}