{{ define "main" }}

  {{ partial "posts/hero-single.html" . }}

  <div class="document-content">
    <div class="container">
      <div>
        <h2>Lead author</h2>
        {{ with .Params.leadAuthor.name }}
          Name<br>
          {{ . }}<br>
        {{ end }}
        {{ with .Params.leadAuthor.gender }}
          Gender<br>
          {{ . }}<br>
        {{ end }}
        {{ with .Params.leadAuthor.institution.name }}
          Institution<br>
          {{ . }}<br>
        {{ end }}
        {{ with .Params.leadAuthor.institution.location }}
          Institution location<br>
          {{ . }}
        {{ end }}
      </div>

      <h2>Meta</h2>
      Peer reviewed ?<br>
      {{ .Params.meta.peerReviewed }}<br>

      Grey literature ?<br>
      {{ .Params.meta.greyLiterature }}<br>

      {{ with .Params.meta.typeOfPaper }}
        Type of paper<br>
        {{ . }}<br>
      {{ end }}

      {{ with .Params.meta.volume }}
        Volume<br>
        {{ . }}<br>
      {{ end }}

      {{ with .Date}}
        Publication date<br>
        {{ .Format "January 2006" }}<br>
      {{ end }}

      {{ with .Params.url }}
        URL<br>
        <a href="{{ . }}">{{ . }}</a><br>
      {{ end }}

      <h2>Analysis</h2>

      Sufficiency mentioned ?<br>
      {{ .Params.sufficiencyMentioned }}<br>

      {{ with .GetTerms "scientific-disciplines" }}
        Scientific disciplines<br>
        <ul>
          {{ range . }}
            <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
          {{ end }}
        </ul>
      {{ end }}

      {{ with .GetTerms "geographical-scopes" }}
        Geographical scope<br>
        <ul>
          {{ range . }}
            <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
          {{ end }}
        </ul>
      {{ end }}

      <div class="small">
        CSV
        <p>{{ .Params.data }}</p>
      </div>

      <div class="small">
        Params
        <p>{{ .Params }}</p>
      </div>

    </div>

  </div>
{{ end }}