{{ define "main" }}

  {{ partial "posts/hero-single.html" . }}

  <div class="document-content">
    <div class="container">
      <div class="abstract">
        {{ .Content }}
      </div>
      {{ .Date.Format "January 2006" }}
      <div>
        <p>Authors</p>
        <ul>
          {{ range .Params.authors }} 
            <li>{{ . }}</li>
          {{ end }}
        </ul>
      </div>


      <p>Publication</p>
      {{ .Params.publication.title }}<br>
      {{ .Params.publication.volume }}<br>
      {{ .Params.publication.issue }}<br>
      {{ .Params.publication.issn }}<br>

      {{ with .GetTerms "tags" }}
        <p>Tags (taxo)</p>
        <ul>
          {{ range . }}
            <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
          {{ end }}
        </ul>
      {{ end }}

      {{ with .Params.url }}
        <div>
          <p>URL</p> 
          <a href="{{ . }}">{{ . }}</a>
        </div>
      {{ end }}

    </div>

  </div>
{{ end }}